name: Deploy to GitHub Pages

on:
  push:
    branches: ["main", "master"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # actions/checkout@v4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      
      # actions/setup-node@v4.2.0
      - uses: actions/setup-node@3932cf9a7477a39d047bd216f584e01e4a055d04
        with:
          node-version: 20
          cache: 'npm'
          
      - run: npm install
      - run: npm run build
      
      # actions/upload-pages-artifact@v3.0.1
      - uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dee9962f33a1
        with:
          path: ./dist

  deploy:
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    needs: build
    steps:
      # actions/deploy-pages@v4.0.5
      - id: deployment
        uses: actions/deploy-pages@d6db90164ad5ee868d735c01042f1ec4357283b9
